

<p>User: <%= @user.email %></p>
<hr>
<% if @orders.any?%>
  <% @orders.each do |order| %>
    <h4>Order#: <%= order.id %></h4>
    <ul>


    <li>Total Donation: $<%= order.total %></li>
    <% order.order_items.each do |order_item| %>
      <li><strong><%= order_item.nonprofit.name %></strong></li>
      <ul>

      <li>Donation: $<%= order_item.amount %></li>
    </ul>
    <% end %>
      </ul>
  <% end %>
  <hr>
<% end %>
