<h1>User: <%= @user.email %></h1>
<hr>

<% if @orders.any?%>
  <% @orders.each do |order| %>
    <div class="order-history-admin">

      <p><strong>Order:</strong> #<%= order.id %><br>
      <strong>Date:</strong> <%= order.created_at.strftime("%Y-%m-%d")%><br>
      <strong>Total:</strong> <%= number_to_currency order.total %></p>

      <ul>
      <% order.order_items.each do |order_item| %>
        <li><strong><%= order_item.nonprofit.name %></strong>: <%= number_to_currency order_item.amount %></li>
      <% end %>
      </ul>
      
    </div>
  <% end %>
<% end %>

<%= link_to "Back", :back %>
