<h1 style="margin-bottom:50px">Order Details</h1>

<p><strong>Order:</strong> #<%= @order.id %> </p>
<p><strong>Total:</strong> <%= number_to_currency @order.total  %></p>
<p><strong>Placed on:</strong> <%= @order.created_at.strftime("%Y-%m-%d") %></p>
<p><strong>Payment: </strong><%= @order.card_type %> (**** **** **** <%= @order.card_last4 %>)</p>

<hr>
<% @order_items.each do |item| %>
  <p>Item Id: <%= item.id %></p>
  <% if item.nonprofit %>
    <p>Nonprofit: <%= item.nonprofit.name %></p>
  <% end %>
  <p>Donation Amount: <%= number_to_currency item.amount %></p>
  <hr>
<% end %>
<a href="<%= @order.id %>.pdf"><button class="btn btn-primary">View PDF</button></a>

<p><%= link_to "Back", :back %></p>
