<h3>All donations for <%= @nonprofit.name %></h3>

<% if @order_items %>


  <ul>
    <% @order_items.each do |order_item| %>
      <li>Order Item ID: <%= order_item.id %></li>
      <ul>
        <li>Date: <%= order_item.created_at.strftime("%Y-%m-%d") %></li>
        <li>Order ID: <%= order_item.order_id %></li>
        <li>Amount: $ <%= order_item.amount %></li>
    </ul>

    <% end %>
  </ul>
<% end %>
