<h3>All donations for <%= @nonprofit.name %></h3>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <% if order.status =="Complete" %>
      <% order.order_items.each do |order_item| %>
        <% if order_item.nonprofit.id == @nonprofit.id %>
          <p>Order#: <%= order.id%></p>
          <p>Item#: <%= order_item.id%></p>
          <p>Amount: $<%= order_item.amount%></p>
          <p>User: <%= link_to order.user.email, user_path(order.user.id) %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
<p>Looks like there are no orders.</p>
<% end %>

<p><%= link_to "Back", orders_admin_path %></p>
