<%= image_tag ("#{@nonprofit.image}") %>
<h2><%= @nonprofit.name %></h2>
<a href="<%= @nonprofit.website %>"><%= @nonprofit.website %></a>
<p class="class"><%= @nonprofit.info %></p>
<%= form_for @order_item do |f| %>
   <%= f.hidden_field :nonprofit_id, value: @nonprofit.id %>
   <%= f.number_field :amount %>
   <%= f.submit "Add to cart" %>
 <% end %></p>
