<header class="navbar navbar-expand-lg sticky-top">
  <a href="/" class="navbar-brand"><%= image_tag ("frog.png"), :class => 'logo' %>  CHARITY FROG</a>


  <div class="collapse navbar-collapse float-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "All Nonprofits", nonprofits_path, :class => "nav-link" %></li>
      <% if current_user %>
      <li class="nav-item"><%= link_to "Account", orders_path, :class => "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to "Sign In", user_session_path, :class => "nav-link"  %></li>
      <% end %>


      <%= form_tag nonprofits_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>




    </ul>
  </div>
  <a href="/cart" class="float-right"><%= image_tag ("cart.png"), :class => 'cart' %><span class="badge badge-pill badge-secondary"><%= current_order.order_items.length %></span></a>
</header>
