<!DOCTYPE html>
<html>
  <head>
    <title>NonprofitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="container">

      <header class="navbar navbar-expand-lg sticky-top">
        <a href="/" class="navbar-brand"><%= image_tag ("frog.png"), :class => 'logo' %>  CHARITY FROG</a>


        <div class="collapse navbar-collapse float-right">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "All Nonprofits", nonprofits_path, :class => "nav-link" %></li>
            <% if current_user %>
            <li class="nav-item"><%= link_to "My Account", orders_path, :class => "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "nav-link" %></li>
            <% else %>
            <li class="nav-item"><%= link_to "Sign In", user_session_path, :class => "nav-link"  %></li>
            <% end %>

          </ul>
        </div>
        <a href="/cart" class="float-right"><%= image_tag ("cart.png"), :class => 'cart' %><span class="badge badge-pill badge-secondary"><%= current_order.order_items.length %></span></a>

      </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
 </body>
 <footer class-"fixed-bottom"><p>Copyright © 2018</p></footer>
</html>
